/* CSS Custom Properties Definitions */

:root {
    /* Colours */
    --color-background: #FFFFFF;
    --color-primary: #78a4a5;
    --color-primary-transparent: #78a4a5CC;
    --color-secondary: #47698e;
    --color-text-primary: #12130F;
    --color-text-secondary: #738a94;
    --color-text-alternate: #FFFFFF;
    --color-highlight:#47698e;
    --color-highlight-transparent: #47698e80;
    --color-light: #e0eaea;

    /* Font Family */
    --font-family: 'Nunito';

    font-family: 'Nunito' !important;
}



.reactSelect {
  display: inline-block;
  width: 25%;
  margin: 0 1rem;
  text-align: left;
}

/*Small and Below*/
@media only screen and (max-width: 736px) {
  .reactSelect {
    display: block;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
  }

}
